@{
    ViewData["Title"] = "Home Page";
}

<h3>
    Welcome to BehaviorAgency Identity Server
</h3>

<p>
    This server help behavior agencies build identity and access control solutions for modern applications, including single sign-on, identity management, authorization, and API security.
    Based on successful open source projects like IdentityServer, we provide the flexibility to design solutions to meet requirements for behavior agencies.
</p>

